.home__title {
  position: absolute;
  width: 347px;
  height: 38px;
  top: 222px;
  left: 10px;
  font-weight: 600;
  font-size: 30px;
  color: $fourth-colour;
}

.home__instruction {
  position: absolute;
  width: 374px;
  height: 72px;
  left: 10px;
  top: 278px;
  color: $third-colour;
}