.task__header {
  position: absolute;
  width: 36px;
  height: 23px;
  left: 11px;
  top: 499px;

  color: $fourth-colour;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.task__input {
  position: absolute;
  width: 350px;
  height: 60px;
  left: 10px;
  top: 386px;

  background: $second-colour;
  border: 1px dashed $third-colour;
  box-sizing: border-box;
  border-radius: 7px;
  color: $fourth-colour;
}

.task__complete {
  position: absolute;
  width: 284px;
  height: 23px;
  left: 10px;
  top: 543px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $third-colour;
}

.task__complete.hide {
  display: none;
}

.task__added.show {
  position: absolute;
  left: 21.68%;
  right: 24.66%;
  top: 60%;
  bottom: 43%;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $fourth-colour;

}